.u-section-1 .u-sheet-1 {
  min-height: 1081px;
}

.u-section-1 .u-image-1 {
  width: 663px;
  height: 663px;
  margin: 107px auto 0 73px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 222px;
  background-image: none;
  margin: -456px -13px 60px 673px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: -457px;
    margin-left: 573px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 57px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 463px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -334px;
    margin-left: 373px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -134px;
    margin-left: 273px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 192px;
}