

 .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width:80%;

}

.styled-table tr a{
    color:black;
    background-color: transparent;
  text-decoration: none;}

  .styled-table tr a:hover{
    color:#ff4136;
    background-color: transparent;
  text-decoration: none;}


.styled-table thead tr {
    background-color: #ff4136;
    color: white;
    text-align: center;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align:center;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #FF4136;
}
.styled-table tbody tr:hover{
    color: #FF4136;
}