<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>EasyFill | Blog</title>
  <link rel="icon" type="image/x-icon" href="/static/images/easyfill_icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/?user={{htmlData.user}}"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand" href="/?user={{htmlData.user}}"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="120" height="70" class="d-inline-block align-text-top">
      </a>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/?user={{htmlData.user}}">Home</a>
          </li>
          <div class="statuschecker">
          <li class="nav-item">
            <a class="nav-link" href="/login?user={{htmlData.user}}">Login</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/register?user={{htmlData.user}}">Signup</a>
          </li>
            </div>
          <script>
                const loginstatus = '{{ htmlData.user }}';
                console.log(loginstatus);
                if (loginstatus != "None") {
                const collection = document.getElementsByClassName("statuschecker");
                collection[0].outerHTML = '<li class="nav-item"><a class="nav-link" href="/userHome?user={{htmlData.user}}">Your Profile</a></li><li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>';
                }
            </script>
          <li class="nav-item">
            <a class="nav-link" href="/pricing?user={{htmlData.user}}">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Company
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/Contact?user={{htmlData.user}}">About</a></li>
              <li><a class="dropdown-item" href="/Contact?user={{htmlData.user}}">Contact</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Security</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Resources
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/blog?user={{htmlData.user}}">Blog</a></li>
              <li><a class="dropdown-item" href="/Customer?user={{htmlData.user}}">Customers</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<div class="card" style="width: 100%;">
  <img src="/static/images/Untitled.png" class="card-img-top opacity-50" alt="..." style="height:430px;">
  <div class="card-body card-img-overlay text-white">
               <center><h5 class="card-title bg-light text-danger" style="font-size:3.5rem;position:absolute;top:30%;left:30%;">
                   Impact of Missing Values
                </h5></center></div>
  <div class="card-body" style="width:80%;position:relative;left:10%;">
      <p>
    Missing data is a common issue in many datasets, and it can have a significant impact on the results of data analysis. When data is missing, it can affect the accuracy of statistical models and machine learning algorithms, as well as the overall interpretation of the data.
    </p>
    <p>
    The impact of missing values on a dataset can be significant, and it depends on the amount of missing data, the nature of the missing data, and the analysis being performed. Here are some of the ways in which missing data can impact a dataset:
    </p>

<h5>Bias in the Data:</h5> <p>One of the most significant impacts of missing data is bias. If a significant portion of the data is missing, the remaining data may not be representative of the entire population. This can lead to inaccurate conclusions and biased results.</p>

<h5>Reduced Power:</h5> <p> Missing data can also reduce the power of statistical tests. When there is missing data, there is less information available to analyze, which can lead to lower statistical power. This means that the study may be less likely to detect a true effect.</p>

<h5>Inaccurate Parameter Estimates:</h5> <p> Missing data can also lead to inaccurate parameter estimates. When data is missing, statistical models may be less accurate, leading to inaccurate estimates of parameters such as means, variances, and correlation coefficients.</p>

<h5>Decreased Sample Size: </h5> <p>Missing data can also lead to a decreased sample size, which can affect the generalizability of the results. Smaller sample sizes may not be representative of the population, leading to inaccurate conclusions.</p>

<h5>Incomplete Analysis: </h5> <p>Missing data can also result in incomplete analysis. If a significant portion of the data is missing, it may not be possible to perform certain analyses. For example, some statistical tests may require a complete dataset, and missing data may prevent the use of these tests.</p>

    <p>In conclusion, missing data can have a significant impact on the results of data analysis. It can lead to bias, reduced power, inaccurate parameter estimates, decreased sample size, and incomplete analysis. It is essential to address missing data appropriately to ensure accurate and reliable results.</p>
  </div>
</div>
<div class="footerBox" style="color:white;width:100%;background-color:#212529;">
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3" style="color:white;">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/Contact?user={{htmlData.user}}" class="nav-link p-0 text-white">About</a></li>
          <li class="nav-item mb-2"><a href="/careers?user={{htmlData.user}}" class="nav-link p-0 text-white">Careers</a></li>
          <li class="nav-item mb-2"><a href="/security?user={{htmlData.user}}" class="nav-link p-0 text-white">Security</a></li>
          <li class="nav-item mb-2"><a href="/legal?user={{htmlData.user}}" class="nav-link p-0 text-white">Legal</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>EasyFill</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/pricing?user={{htmlData.user}}" class="nav-link p-0 text-white">Pricing</a></li>
          <li class="nav-item mb-2"><a href="/faq?user={{htmlData.user}}" class="nav-link p-0 text-white">FAQs</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/blog?user={{htmlData.user}}" class="nav-link p-0 text-white">Blog</a></li>
          <li class="nav-item mb-2"><a href="/customers?user={{htmlData.user}}" class="nav-link p-0 text-white">Customers</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
        <form action='/subscribe?user={{htmlData.user}}' method="post" enctype="multipart/form-data">
            <input name="newsletter1" id="newsletter1" type="text"  placeholder="Email address">
            <input type="submit" class="btn btn-danger" value="Subscribe"></input>
        </form>
          </div>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <a class="navbar-brand" href="/?user={{htmlData.user}}"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a>
      <p>&copy; 2023 EasyFill, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="/?user={{htmlData.user}}"><i class="fa-brands fa-twitter" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href=""><i class="fa-brands fa-instagram" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="https://github.com/Mojo-lab"><i class="fa-brands fa-github" style="color:white;font-size:40px;"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
  </div>
</body>
</html>