<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>EasyFill | Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand" href="/"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="120" height="70" class="d-inline-block align-text-top">
      </a>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <div class="statuschecker">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/register">Signup</a>
          </li>
            </div>
          <script>
                const loginstatus = '{{ loggedin }}';
                console.log(loginstatus);
                if (loginstatus == "True") {
                const collection = document.getElementsByClassName("statuschecker");
                collection[0].outerHTML = '<li class="nav-item"><a class="nav-link" href="/userHome/{{usrname}}">Your Profile</a></li><li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>';
                }
            </script>
          <li class="nav-item">
            <a class="nav-link" href="/pricing">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Company
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/Contact">About</a></li>
              <li><a class="dropdown-item" href="/Contact">Contact</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Security</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Resources
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/blog">Blog</a></li>
              <li><a class="dropdown-item" href="/Customer">Customers</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<div class="card" style="width: 100%;">
  <img src="/static/images/Untitled.png" class="card-img-top opacity-50" alt="..." style="height:430px;">
  <div class="card-body card-img-overlay text-white">
               <center><h5 class="card-title bg-light text-danger" style="font-size:3.5rem;position:absolute;top:30%;left:30%;">
                    Importance of Data Quality
                </h5></center></div>
  <div class="card-body" style="width:80%;position:relative;left:10%;">
      <p>
    Machine learning has become a powerful tool in many industries, from finance and healthcare to marketing and entertainment. However, a critical factor that can determine the success or failure of a machine learning model is the quality of the data used to train it. In this article, we will explore the importance of data quality in machine learning modelling and how it can affect the accuracy and reliability of the models.
    </p>
    <h3>
    What is Data Quality in Machine Learning?
    </h3>
    <p>
    Data quality refers to the degree to which data is accurate, complete, consistent, and relevant for a particular purpose. In the context of machine learning, high-quality data is critical for building accurate and reliable models. Data that is missing or inaccurate can lead to biased or unreliable results, which can have serious consequences, especially in high-stakes applications such as healthcare and finance.
    </p>
    <h3>
    Why is Data Quality Important in Machine Learning?
    </h3>
    <h5>
    Accuracy of the Model:</h5>
    <p>Machine learning models are only as good as the data they are trained on. If the data is inaccurate or incomplete, the model will not be able to accurately learn the underlying patterns and relationships in the data. This can lead to inaccurate predictions and unreliable results.
    </p>
    <h5>
    Avoidance of Bias:</h5>
    <p>Bias can be introduced into a model if the training data is not representative of the population it is meant to model. For example, if the data used to train a facial recognition algorithm is biased towards a particular race or gender, the model will be less accurate for individuals who do not fit that profile. Bias in machine learning models can have serious consequences, especially in high-stakes applications such as hiring, lending, and criminal justice.
    </p>
    <h5>
    Cost-Effective:</h5>
    <p>Poor data quality can lead to wasted resources, as data scientists spend time cleaning and correcting the data before they can begin modelling. By ensuring that the data is of high quality, organizations can save time and money in the long run.
    </p>
  </div>
</div>
<div class="footerBox" style="color:white;width:100%;background-color:#212529;">
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3" style="color:white;">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/Contact" class="nav-link p-0 text-white">About</a></li>
          <li class="nav-item mb-2"><a href="/careers" class="nav-link p-0 text-white">Careers</a></li>
          <li class="nav-item mb-2"><a href="/security" class="nav-link p-0 text-white">Security</a></li>
          <li class="nav-item mb-2"><a href="/legal" class="nav-link p-0 text-white">Legal</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>EasyFill</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/pricing" class="nav-link p-0 text-white">Pricing</a></li>
          <li class="nav-item mb-2"><a href="/faq" class="nav-link p-0 text-white">FAQs</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/blog" class="nav-link p-0 text-white">Blog</a></li>
          <li class="nav-item mb-2"><a href="/customers" class="nav-link p-0 text-white">Customers</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
        <form action='/subscribe' method="post" enctype="multipart/form-data">
            <input name="newsletter1" id="newsletter1" type="text"  placeholder="Email address">
            <input type="submit" class="btn btn-danger" value="Subscribe"></input>
        </form>
          </div>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <a class="navbar-brand" href="/"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a>
      <p>&copy; 2023 EasyFill, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="/"><i class="fa-brands fa-twitter" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href=""><i class="fa-brands fa-instagram" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="https://github.com/Mojo-lab"><i class="fa-brands fa-github" style="color:white;font-size:40px;"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
  </div>
</body>
</html>