<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasyFill | Contact</title>
  <link rel="icon" type="image/x-icon" href="/static/images/easyfill_icon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="static/Contact.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/?user={{htmlData.user}}"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand" href="/?user={{htmlData.user}}"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="120" height="70" class="d-inline-block align-text-top">
      </a>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/?user={{htmlData.user}}">Home</a>
          </li>
          <div class="statuschecker">
          <li class="nav-item">
            <a class="nav-link" href="/login?user={{htmlData.user}}">Login</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/register?user={{htmlData.user}}">Signup</a>
          </li>
            </div>
          <script>
                const loginstatus = '{{ htmlData.user }}';
                console.log(loginstatus);
                if (loginstatus != "None") {
                const collection = document.getElementsByClassName("statuschecker");
                collection[0].outerHTML = '<li class="nav-item"><a class="nav-link" href="/userHome?user={{htmlData.user}}">Your Profile</a></li><li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>';
                }
            </script>
          <li class="nav-item">
            <a class="nav-link" href="/pricing?user={{htmlData.user}}">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Company
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/Contact?user={{htmlData.user}}">About</a></li>
              <li><a class="dropdown-item" href="/Contact?user={{htmlData.user}}">Contact</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Security</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Resources
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/blog?user={{htmlData.user}}">Blog</a></li>
              <li><a class="dropdown-item" href="/Customer?user={{htmlData.user}}">Customers</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<center>
  <h1 style="color:#ff4316; font-weight:bold; font-size:3rem;">CONTACT US</h1>
</center>
<div class="row justify-content-center align-items-center">
<div class="col-md-6" ><img style="padding:0px;" src="/static/images/social-dilemma.svg" alt="accuracy" width="100%" height="100%" class="d-inline-block align-text-top">
<div class="toast show text-bg-secondary" style="position:absolute;top:80%;left:10px;">
    <div class="toast-header">
      <strong class="me-auto">Alert!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body">
      <p>{{ htmlData.successtxt }}</p>
    </div>
  </div>
    <script>
      const mesg = {{ htmlData.successtxt|tojson }};
      const cardToast = document.getElementsByClassName("toast show")[0];
      console.log("message",mesg);
      if (mesg == ''){
            cardToast.setAttribute('hidden',true);
            console.log("hiddden");
            }
      else{
            cardToast.removeAttribute('hidden');
            console.log("shownn");
      }
</script>
</div>
  <div class="col-md-5">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt" style="color:#ff4316;"></i>
          <div class="topic">Address</div>
          <div class="text-one">Anna Nagar,</div>
          <div class="text-two">Chennai</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt" style="color:#ff4316;"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+91 9025817537</div>

        </div>
        <div class="email details">
          <i class="fas fa-envelope" style="color:#ff4316;"></i>
          <div class="topic">Email</div>
          <div class="text-one">govardhan_selvaraj@yahoo.com</div>
          <div class="text-two">mojo101@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>We'd love to talk about how we can work together.</p>
      <form action="/Contact?user={{htmlData.user}}" method="POST">
        <div class="input-box">
          <input id="uname" name="uname" type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input id="email" name="email" type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
            <textarea id="subject" name="subject" placeholder="Enter Your Message..." style="height:110px"></textarea>
        </div>

        <div class="btn btn-danger btn-lg">
          <input style="background-color:transparent;color:white;border:none;" type="submit" value="Send Now">
        </div>
      </form>
    </div>
    </div>
  </div>
</div>

<br>
<div class="footerBox" style="color:white;width:100%;background-color:#212529;">
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3" style="color:white;">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/Contact?user={{htmlData.user}}" class="nav-link p-0 text-white">About</a></li>
          <li class="nav-item mb-2"><a href="/careers?user={{htmlData.user}}" class="nav-link p-0 text-white">Careers</a></li>
          <li class="nav-item mb-2"><a href="/security?user={{htmlData.user}}" class="nav-link p-0 text-white">Security</a></li>
          <li class="nav-item mb-2"><a href="/legal?user={{htmlData.user}}" class="nav-link p-0 text-white">Legal</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>EasyFill</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/pricing?user={{htmlData.user}}" class="nav-link p-0 text-white">Pricing</a></li>
          <li class="nav-item mb-2"><a href="/faq?user={{htmlData.user}}" class="nav-link p-0 text-white">FAQs</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/blog?user={{htmlData.user}}" class="nav-link p-0 text-white">Blog</a></li>
          <li class="nav-item mb-2"><a href="/customers?user={{htmlData.user}}" class="nav-link p-0 text-white">Customers</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
        <form action='/subscribe?user={{htmlData.user}}' method="post" enctype="multipart/form-data">
            <input name="newsletter1" id="newsletter1" type="text"  placeholder="Email address">
            <input type="submit" class="btn btn-danger" value="Subscribe"></input>
        </form>
          </div>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <a class="navbar-brand" href="/?user={{htmlData.user}}"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a>
      <p>&copy; 2023 EasyFill, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="/?user={{htmlData.user}}"><i class="fa-brands fa-twitter" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href=""><i class="fa-brands fa-instagram" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="https://github.com/Mojo-lab"><i class="fa-brands fa-github" style="color:white;font-size:40px;"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
  </div>
</body>
</html>