<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasyFill | Dataset</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand" href="/"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="120" height="70" class="d-inline-block align-text-top">
      </a>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <div class="statuschecker">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/register">Signup</a>
          </li>
            </div>
          <script>
                const loginstatus = '{{ loggedin }}';
                console.log(loginstatus);
                if (loginstatus == "True") {
                const collection = document.getElementsByClassName("statuschecker");
                collection[0].outerHTML = '<li class="nav-item"><a class="nav-link" href="/userHome/{{usrname}}">Your Profile</a></li><li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>';
                }
            </script>
          <li class="nav-item">
            <a class="nav-link" href="/pricing">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Company
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/Contact">About</a></li>
              <li><a class="dropdown-item" href="/Contact">Contact</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Security</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>


<div class="row justify-content-center align-items-center">
  <div class="col-md-6" ><img style="padding:0px;" src="/static/images/indian-boy-file-transfer.svg" alt="puzzle" width="100%" height="100%" class="d-inline-block align-text-top"></div>
    <div class="card mb-4" style="width: 30%;padding:10px;">
      <div class="card-header" ><center>
            <a class="navbar-brand" href="/"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a></center></div>
        <div class="card-body">
          <h1 style="color:#ff4316;font-weight:bold;" >Upload Dataset</h1>
          <h4>Select File here</h4>
          <p>Files Supported: CSV, XLSX</p>
        <form action="/demo" method="post" enctype="multipart/form-data">
          <div class="input-group mb-3">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile02" accept=".csv,.xlsx" name="file">
  </div>
</div>
          <button type="submit" class="btn btn-danger">Submit</button>
        </form>
        </div>
    </div></div>

<br>
<div class="footerBox" style="color:white;width:100%;background-color:#212529;">
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3" style="color:white;">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/Contact" class="nav-link p-0 text-white">About</a></li>
          <li class="nav-item mb-2"><a href="/careers" class="nav-link p-0 text-white">Careers</a></li>
          <li class="nav-item mb-2"><a href="/security" class="nav-link p-0 text-white">Security</a></li>
          <li class="nav-item mb-2"><a href="/legal" class="nav-link p-0 text-white">Legal</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>EasyFill</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/pricing" class="nav-link p-0 text-white">Pricing</a></li>
          <li class="nav-item mb-2"><a href="/faq" class="nav-link p-0 text-white">FAQs</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/blog" class="nav-link p-0 text-white">Blog</a></li>
          <li class="nav-item mb-2"><a href="/customers" class="nav-link p-0 text-white">Customers</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
        <form action='/subscribe' method="post" enctype="multipart/form-data">
            <input name="newsletter1" id="newsletter1" type="text"  placeholder="Email address">
            <input type="submit" class="btn btn-danger" value="Subscribe"></input>
        </form>
          </div>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <a class="navbar-brand" href="/"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a>
      <p>&copy; 2023 EasyFill, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="/"><i class="fa-brands fa-twitter" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href=""><i class="fa-brands fa-instagram" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="https://github.com/Mojo-lab"><i class="fa-brands fa-github" style="color:white;font-size:40px;"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
  </div>
</body>
</html>