<!DOCTYPE html>
<html lang="en">
<style>
    .button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.buttonblack {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
.buttonblack:hover {
  background-color: #555555;
  color: white;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
<center>
<h1>ValueFill's Analysis</h1>

<canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
 <script>
var xValues = {{ data.bardata.xValues|tojson }};
var yValues = {{ data.bardata.yValues|tojson }};
var barColors = {{ data.bardata.barColors|tojson }};

new Chart("myChart1", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues,
      borderWidth: 1
    }]
  },
  options: {
  legend: {
        display: false
    },
    title: {
      display: true,
      text: "Comparision of null values in the dataset"
    }
  }
});
 </script>
<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
<script>
var xValues = {{ data.piedata.xValues|tojson }};
var yValues = {{ data.piedata.yValues|tojson }};
var barColors = {{ data.piedata.barColors|tojson }};

new Chart("myChart", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
  legend: {
        display: true,
        position: 'right'
    },
    title: {
      display: true,
      text: "Missing Values Proportion"
    },
  }
});
</script>
<canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
<script>
var datagroup = {{ data.groupedbardata|tojson }};
var grouplabels = {{ data.grouplabels|tojson }};
new Chart("myChart2", {
  type: "horizontalBar",
  data: {
    labels: grouplabels,
    datasets: datagroup
  },
  options: {
  scales: {
            xAxes: [{
                ticks: {
                    min: 0,
                    max: 100
                }
            }],
            yAxes: [{
                stacked: false
            }]
        },
  indexAxis: 'y',
  legend: {
        display: true,
        position: 'right'
    },
  elements: {
      bar: {
        borderWidth: 2,
      }
    },
    title: {
      display: true,
      text: "Missing values in each columns"
    }
  }
});
</script>
    <a href="/fillna"><button class="button buttonblack">Fill Values</button></a>
    <a href="/"><button class="button buttonblack">Home</button></a>
</center>
</body>
</html>