<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasyFill | Magic</title>
    <link rel="icon" type="image/x-icon" href="/static/images/easyfill_icon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/?user={{htmlData.user}}"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand" href="/?user={{htmlData.user}}"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="120" height="70" class="d-inline-block align-text-top">
      </a>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/?user={{htmlData.user}}">Home</a>
          </li>
          <div class="statuschecker">
          <li class="nav-item">
            <a class="nav-link" href="/login?user={{htmlData.user}}">Login</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/register?user={{htmlData.user}}">Signup</a>
          </li>
            </div>
          <script>
                const loginstatus = '{{ htmlData.user }}';
                console.log(loginstatus);
                if (loginstatus != "None") {
                const collection = document.getElementsByClassName("statuschecker");
                collection[0].outerHTML = '<li class="nav-item"><a class="nav-link" href="/userHome?user={{htmlData.user}}">Your Profile</a></li><li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>';
                }
            </script>
          <li class="nav-item">
            <a class="nav-link" href="/pricing?user={{htmlData.user}}">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Company
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/Contact?user={{htmlData.user}}">About</a></li>
              <li><a class="dropdown-item" href="/Contact?user={{htmlData.user}}">Contact</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Security</a></li>
            </ul>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Resources
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/blog?user={{htmlData.user}}">Blog</a></li>
              <li><a class="dropdown-item" href="/Customer?user={{htmlData.user}}">Customers</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-sm bg-light">
    <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="padding:10px;">
    <i class="fa-solid fa-bars" style="padding:20px;font-size:25px;color:#212529;"></i>
</a>
<h1 style="left:40%;position:relative;">EasyFill</h1>
</nav>
<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand" href="/?user={{htmlData.user}}"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="120" height="70" class="d-inline-block align-text-top">
      </a>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/multiHome?name={{htmlData.workSpaceName}}&user={{htmlData.user}}&filename={{htmlData.filename}}">Home</a>
          </li>
          <div class="statuschecker">
          <li class="nav-item">
            <a class="nav-link" href="/edareport??name={{htmlData.workSpaceName}}&user={{htmlData.user}}&filename={{htmlData.filename}}">Dashboard</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/fillna?name={{htmlData.workSpaceName}}&user={{htmlData.user}}&filename={{htmlData.filename}}">Easyfill</a>
          </li>
            </div>
          <li class="nav-item">
            <a class="nav-link" href="/?user={{htmlData.user}}">Scale</a>
          </li></ul>
    </div>
</div>
<script>
    const userStat = {{ htmlData.user|tojson }};
    console.log("userStat",userStat);
    const sear = document.getElementsByClassName("navbar navbar-expand-sm bg-light")[0];
    if (userStat == null){
        sear.setAttribute("hidden",true);
    }
</script>

<center>
    <br>
    <h1 style="color:#ff4316;font-weight:bold;font-size:4rem;">Impute Missing values</h1>
    <br>
    <form action = "/fillna?name={{htmlData.workSpaceName}}&user={{htmlData.user}}&filename={{htmlData.filename}}" method = "POST" enctype="multipart/form-data">
    <table class="table table-striped table-hover table-bordered" style="width:70%">
        <tr class="bg-secondary">
            <th class="text-white">Column Name</th>
            <th class="text-white">Data Type</th>
                <th class="text-white">Imputation Method</th>
        </tr>
        {% for col in htmlData.cols %}
        <tr>
            <td>
                {{ col }}
            </td>

            <td>
                <input type="radio" id="fillmethodCategorical" name="{{col}}__fillmethod" value="fillmethodCategorical" onclick="verifyCats(id,name)">
                <label>Categorical</label>
                <input type="radio" id="fillmethodContinuous" name="{{col}}__fillmethod" value="fillmethodContinuous" onclick="verifyCats(id,name)">
                <label>Continuous</label>

            </td>
            <td>
                <input type="radio" id="fillmethodMean" name="{{col}}__fillmethod_" value="{{col}}__fillmethod___Mean">
                <label>Mean</label>
                <input type="radio" id="fillmethodMedian" name="{{col}}__fillmethod_" value="{{col}}__fillmethod___Median">
                <label>Median</label>
                <input type="radio" id="fillmethodMode" name="{{col}}__fillmethod_" value="{{col}}__fillmethod___Mode">
                <label>Mode</label>
                <input type="radio" id="fillmethodMl" name="{{col}}__fillmethod_" value="{{col}}__fillmethod___Ml">
                <label>ML</label>
                <input type="radio" id="fillmethodNone" name="{{col}}__fillmethod_" value="{{col}}__fillmethod___None">
                <label>None</label>
            </td>
        </tr>
        {% endfor %}
        <script>
            function verifyCats(id,name) {
            const elementCollection = new Array();
            const newName = name+"_";
            const allElements = document.getElementsByName(newName);
            console.log(id);
            console.log(name);
            if (id == "fillmethodCategorical") {
            console.log("catgeorical selection");
            allElements[0].disabled = true;
            allElements[1].disabled = true;
            allElements[2].disabled = false;
            allElements[3].disabled = false;
            }
            else{
            console.log("continuous selection");
            allElements[0].disabled = false;
            allElements[1].disabled = false;
            allElements[2].disabled = true;
            allElements[3].disabled = true;
            }
            }
        </script>
    </table>

        <br>
        <input  class="btn btn-outline-success btn-lg" type = "submit" value="Submit" onclick="loaderfunc();">
    </form>
    <div class="container mt-1" hidden="true">
    <div class="spinner-grow text-danger"></div>
  <div class="spinner-grow text-secondary"></div>
  <div class="spinner-grow text-dark"></div>
</div>
    <br><br>
    <div class="container mt-2">
  <div class="alert alert-success">
    <strong>Success!</strong> {{htmlData.downloadmessage}} <a href="{{ htmlData.downloadlink }}" class="alert-link">{{ htmlData.filestatus }}</a>.
  </div></div>
    <script>
        function loaderfunc(){
        const bellarc = document.getElementsByClassName("container mt-1")[0];
       bellarc.removeAttribute('hidden');}
       const mesg = {{ htmlData.downloadmessage|tojson }};
      const cardToast = document.getElementsByClassName("container mt-2")[0];
      console.log("message",mesg);
      if (mesg == ''){
            cardToast.setAttribute('hidden',true);
            console.log("hiddden");
            }
      else{
            cardToast.removeAttribute('hidden');
            console.log("shownn");
      }
    </script>
    <div class="container mt-3">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong>{{htmlData.errMsg}}
        </div></div>
        <script>
        const mesg1 = {{ htmlData.errMsg|tojson }};
      const cardToast1 = document.getElementsByClassName("container mt-3")[0];
      console.log("message",mesg1);
      if (mesg1 == ''){
            cardToast1.setAttribute('hidden',true);
            console.log("hiddden");
            }
      else{
            cardToast1.removeAttribute('hidden');
            console.log("shownn");
      }
    </script>
    </div>
<div>
    {{htmlData.filledValues|safe}}
</div>
</center>


<br>
<div class="footerBox" style="color:white;width:100%;background-color:#212529;">
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3" style="color:white;">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/Contact?user={{htmlData.user}}" class="nav-link p-0 text-white">About</a></li>
          <li class="nav-item mb-2"><a href="/careers?user={{htmlData.user}}" class="nav-link p-0 text-white">Careers</a></li>
          <li class="nav-item mb-2"><a href="/security?user={{htmlData.user}}" class="nav-link p-0 text-white">Security</a></li>
          <li class="nav-item mb-2"><a href="/legal?user={{htmlData.user}}" class="nav-link p-0 text-white">Legal</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>EasyFill</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/pricing?user={{htmlData.user}}" class="nav-link p-0 text-white">Pricing</a></li>
          <li class="nav-item mb-2"><a href="/faq?user={{htmlData.user}}" class="nav-link p-0 text-white">FAQs</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/blog?user={{htmlData.user}}" class="nav-link p-0 text-white">Blog</a></li>
          <li class="nav-item mb-2"><a href="/customers?user={{htmlData.user}}" class="nav-link p-0 text-white">Customers</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
        <form action='/subscribe?user={{htmlData.user}}' method="post" enctype="multipart/form-data">
            <input name="newsletter1" id="newsletter1" type="text"  placeholder="Email address">
            <input type="submit" class="btn btn-danger" value="Subscribe"></input>
        </form>
          </div>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <a class="navbar-brand" href="/?user={{htmlData.user}}"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a>
      <p>&copy; 2023 EasyFill, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="/?user={{htmlData.user}}"><i class="fa-brands fa-twitter" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href=""><i class="fa-brands fa-instagram" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="https://github.com/Mojo-lab"><i class="fa-brands fa-github" style="color:white;font-size:40px;"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
  </div>
</body>
</html>