<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasyFill-Magic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/fillna.css" media="screen">
</head>
<body>
<header>
    <div class="navbar">
        <div class="logodiv">
        <a href="/" class="logo" data-image-width="10" data-image-height="28">
          <img src="static/images/logo.png" class="logoimg">
        </a>
        </div>
        <div class="optionNav">
        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="pricing"><i class="fa fa-fw fa-search"></i> Pricing</a>
        <a href="/"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="login"><i class="fa fa-fw fa-user"></i> Login</a>
        </div>
        </div>
    </header>
<center>
    <h1 class="titletext">Fill Missing values</h1>
    <form action = "/fillna" method = "POST" enctype="multipart/form-data">
    <table>
        <tr>
            <th>Column Name</th>
                <th>Filling Method</th>
        </tr>
        {% for col in cols %}
        <tr>
            <td>
                {{ col }}
            </td>
            <td>
            {% for colour in colours %}
                <input type="radio" id="{{colour}}__{{col}}" name="{{col}}" value="{{colour}}__{{col}}">
                <label>{{colour}}</label>
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
        <br><br>
        <input  type = "submit" value="Submit">
    </form>
    <br><br>
    <div class="respmes">
    <h3>{{downloadmessage}}</h3>
    <a href="{{ downloadlink }}">{{filestatus}}</a>
    </div>
</center>

</body>
</html>