<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyFill</title>
    <link rel="stylesheet" href="static/indexStyle.css" media="screen">
</head>
<body>
<header>
    <div class="navbar">
        <div class="logodiv">
        <a href="/" class="logo" data-image-width="10" data-image-height="28">
          <img src="static/images/logo.png" class="logoimg">
        </a>
        </div>
        <div class="optionNav">
        <a href="pricing"><i class="fa fa-fw fa-search"></i> Pricing</a>
        <a href="/"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="login"><i class="fa fa-fw fa-user">Login</i></a>
            <script>
                const loginstatus = '{{ loggedin }}';
                console.log(loginstatus);
                if (loginstatus == "True") {
                const collection = document.getElementsByClassName("optionNav");
                collection[0].outerHTML = '<div class="optionNav"><a href="pricing"><i class="fa fa-fw fa-search"></i> Pricing</a><a href="/"><i class="fa fa-fw fa-envelope"></i> Contact</a><a href="/userHome/{{usrname}}" ><i class="fa fa-fw fa-user">User Home</i></a><a href="/logout" ><i class="fa fa-fw fa-logout">Log Out</i></a></div>';
                }
            </script>
        </div>
        </div>
    </header>
<div class="container">
    <div class="text">
        <h1 class="title">Increase data accuracy with EasyFill.</h1>
        <p>Missing values are like missing puzzle pieces, we help you get the most accurate predictions from your datasets.</p>
        <a class="button login" href="login">Login</a>
        <a class="button demo" href="demo">demo</a>
        <p class="signuptitle"><a href="register">New user? Signup here</a></p>
        <script>
                const loginstatus_ = '{{ loggedin }}';
                if (loginstatus_ == "True") {
                const collection_ = document.getElementsByClassName("button login");
                collection_[0].href = "/userHome/{{usrname}}";
                collection_[0].innerHTML = "User Home";
                const collection1 = document.getElementsByClassName("button demo");
                collection1[0].style.visibility = 'hidden';
                const collection2 = document.getElementsByClassName("signuptitle");
                collection2[0].style.visibility = 'hidden';
                }
            </script>
    </div>
    <div class="image">
        </div>
    </div>

    <br><br><br><br><br>

<div class="container">
    <div class="text">
        <h1 class="title">Improve data accuracy.</h1>
        <p>EasyFill helps to eliminate missing values and increase accuracy in datasets. Our algorithm identifies potential issues and automatically fills in missing values.</p>
    </div>
    <div class="image2">
        </div>
</div>
<div class="container">
    <div class="image3">
        </div>
    <div class="text" style="padding-left:10px;">
        <h1 class="title">Streamline data analysis.</h1>
        <p>EasyFill ensures that your data analysis is more accurate,reliable, and efficient. With our algorithm, you get faster, more accurate results.</p>
    </div>
</div>
<br><br>
        <h1 class="titleBold">Why use EasyFill</h1>
    <div class="headboxer">
    <div class="headbox">
    <img src="static/images/8776368-98b28002.png" alt="">
                <h3 class="titlehead">Easy</h3>
                <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
    </div>
    <div class="headbox">
    <img src="static/images/3203214-e2632a45.png" alt="">
                <h3 class="titlehead">Fast</h3>
                <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
    </div>
        <div class="headbox">
            <img src="static/images/9874478-cf582b6e.png" alt="">
                <h3 class="titlehead">Accurate</h3>
                <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
        </div>
</div>
<br><br><br>
<h3 style="font-family: 'Open Sans',sans-serif;text-align: center;">TESTIMONIALS</h3>
<h1 style="color: #FF4136;font-weight: bold;font-size: 4rem;line-height: 1.1;margin-top: 20px;margin-bottom: 20px;font-family: 'Open Sans',sans-serif;text-align: center;">What Clients Say</h1>
<p style="font-family: 'Open Sans',sans-serif;font-size: 20px;width:50%;padding-left: 400px;text-align: center;position:left;">We place huge value on strong relationships and have seen the benefit they bring to our business. Customer feedback is vital in helping us to get it right.</p>
<div class="headboxer">
    <div class="testimonialtab">
        <p>" EasyFill has revolutionized my data analysis process."</p>
        <h3>Karthikeyan</h3>
        <p>Machine Learning Engineer</p>
    </div>
    <div class="testimonialtab">
        <p>" I now get the most accurate results with a fraction of the effort. "</p>
        <h3>Hariharan.K.V</h3>
        <p>Data Scientist</p>
    </div>
    <div class="testimonialtab">
        <p>" EasyFill has become my go-to tool for handling missing values."</p>
        <h3>John Mendes</h3>
        <p>AI Researcher</p>
    </div>
    <div class="testimonialtab">
        <p>" Thanks to EasyFill, for saving hours of my time spending on handling missing values."</p>
        <h3>Selena Gomez</h3>
        <p>Statistician</p>
    </div>
</div>

</body>
</html>






