<html>
  <head>
    <title>ValueFill</title>
  </head>
  <style>
      .user_testimony {
        display: flex;
      }

      .user_image {
<!--        flex-basis: 5%;-->
        padding-left:40px;
      }
      .user_text {
        font-size: 20px;
        padding-left: 40px;
      }
    </style>
  <body style="background-color:#FFFAFA;font-family:Times New Roman;">
    <center>
    <h1>ValueFill</h1>
      <h1>Increrase data accuracy with ValueFill</h1>
    <p>Get the most accurate predictions from your datasets.</p>

    <div class="user_testimony">
      <div class="user_image">
    <img style="border-radius:50%;width:160px;height:160px;background-size:90px 0px;" src="static/images/gova.png" alt="govardhan">
    </div>
      <div class="user_text">
      <h3>"ValueFill has revolutionized my data analysis process."</h3>
        <p>- Govardhan</p>
        </div>
    </div>
      <img style="border-radius:5%;" src="static/images/dashboard.png" alt="dashboard">
    <h1>Improve data accuracy.</h1>
  <p>ValueFill helps to eliminate missing values and increase accuracy in datasets. Our algorithm identifies potential issues and automatically fills in missing values.</p>
  <img style="border-radius:5%;" src="static/images/cube_ai.png" alt="Cube AI">
  <h1>Streamline data analysis.</h1>
  <p>ValueFill ensures that your data analysis is more accurate, reliable, and efficient.</p>
  <p>With our algorithm, you get faster, more accurate results.</p>
  <img style="border-radius:5%;" src="static/images/ai.png" alt="AI">
    <br></br>
  <div class="client2testimony" style="background-color:red;width:50%;">
  <h3 style="padding-left: 40px;">"I now get the most accurate results with a fraction of the effort."</h3>
  <img style="border-radius:50%;width:160px;height:160px;background-size:90px 0px;" src="static/images/gova.png" alt="govardhan">
    <p>- Gloria Partridge</p>
    </div>
  </center>
  </body>
</html>