<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasyFill-Pricing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<header>
    <div class="navbar">
        <div class="logodiv">
        <a href="/" class="logo" data-image-width="10" data-image-height="28">
          <img src="static/images/logo.png" class="logoimg">
        </a>
        </div>
        <div class="optionNav">
        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="pricing"><i class="fa fa-fw fa-search"></i> Pricing</a>
        <a href="/"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="login"><i class="fa fa-fw fa-user"></i> Login</a>
        </div>
        </div>
    </header>
<h1>Pricing</h1>
<div class="container">
<div class="card">
    <div class="drop_box">
    <h3>Month Plan</h3>
        <h3>$10 per month</h3>
    </div>
</div>
<div class="card">
    <div class="drop_box">
    <h3>Yearly Plan</h3>
        <h3>$8 per month</h3>
    </div>
</div>
</div>

<br>
<div class="footerBox" style="color:white;width:100%;background-color:#212529;">
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3" style="color:white;">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/Contact" class="nav-link p-0 text-white">About</a></li>
          <li class="nav-item mb-2"><a href="/careers" class="nav-link p-0 text-white">Careers</a></li>
          <li class="nav-item mb-2"><a href="/security" class="nav-link p-0 text-white">Security</a></li>
          <li class="nav-item mb-2"><a href="/legal" class="nav-link p-0 text-white">Legal</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>EasyFill</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/pricing" class="nav-link p-0 text-white">Pricing</a></li>
          <li class="nav-item mb-2"><a href="/faq" class="nav-link p-0 text-white">FAQs</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/blog" class="nav-link p-0 text-white">Blog</a></li>
          <li class="nav-item mb-2"><a href="/customers" class="nav-link p-0 text-white">Customers</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
        <form action='/subscribe' method="post" enctype="multipart/form-data">
            <input name="newsletter1" id="newsletter1" type="text"  placeholder="Email address">
            <input type="submit" class="btn btn-danger" value="Subscribe"></input>
        </form>
          </div>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <a class="navbar-brand" href="/"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a>
      <p>&copy; 2023 EasyFill, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="/"><i class="fa-brands fa-twitter" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href=""><i class="fa-brands fa-instagram" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="https://github.com/Mojo-lab"><i class="fa-brands fa-github" style="color:white;font-size:40px;"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
  </div>
</body>
</html>