<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasyFill-Pricing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/indexStyle.css" media="screen">
</head>
<body>
<header>
    <div class="navbar">
        <div class="logodiv">
        <a href="/" class="logo" data-image-width="10" data-image-height="28">
          <img src="static/images/logo.png" class="logoimg">
        </a>
        </div>
        <div class="optionNav">
        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="pricing"><i class="fa fa-fw fa-search"></i> Pricing</a>
        <a href="/"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="login"><i class="fa fa-fw fa-user"></i> Login</a>
        </div>
        </div>
    </header>
<h1>Pricing</h1>
<div class="container">
<div class="card">
    <div class="drop_box">
    <h3>Month Plan</h3>
        <h3>$10 per month</h3>
    </div>
</div>
<div class="card">
    <div class="drop_box">
    <h3>Yearly Plan</h3>
        <h3>$8 per month</h3>
    </div>
</div>
</div>
</body>
</html>