<!DOCTYPE html>
<html>
  <head>
    <title>Text NER Annotation Tool</title>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>

  </head>
  <body>

<br><br>

<div class="row" style="padding:10px;">
    <div class="col-sm-3">
    <div class="card">
  <h5 class="card-header">Annotations</h5>
  <div class="card-body">
      <ul class="list-group list-group-flush" id="labelledAnnotations">
      </ul>
  </div></div>
</div>

    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <div id="myDIV">
    <button type="button" class="btn btn-outline-success active" id="green">Success</button>
<button type="button" class="btn btn-outline-danger" id="red">Danger</button>
<button type="button" class="btn btn-outline-warning" id="yellow">Warning</button>
</div>
            </div>
        <div class="card-body">
    <div id="text-container">
      <p id="text" onmouseup="selector();">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum nisi eget turpis pretium, quis bibendum sapien imperdiet. Nulla facilisi. Sed nec velit a libero commodo rhoncus. Vivamus pulvinar nisl quis libero efficitur interdum. Proin suscipit sagittis sapien in maximus. Duis porttitor, nisl ut venenatis faucibus, ante enim dapibus dolor, nec maximus sapien turpis in velit.</p>
    </div></div></div><br>
    <center><button type="submit" class="btn btn-primary" onclick="poster();">Save</button>
        <button class="btn btn-secondary">Next</button>
    </center>
    </div>


    </div>
    </form>
    <script>
    var header = document.getElementById("myDIV");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });
}
    function wordsel(){
    console.log("word selected");
    }

    function txtWrapper(selectedTxt,col) {
    newTxt = '<span class="badge text-wrap"  style="background-color:'+col+';" onclick="wordsel();">'+ selectedTxt +'</span>';
    return newTxt;
    }
    const selections = []
  function selector() {
  sel = window.getSelection();
    selectedText = window.getSelection().toString();
    range = sel.getRangeAt(0);
    document.designMode = "on";
    if (range) {
    sel.removeAllRanges();
    sel.addRange(range);
  }

    col = document.getElementById("myDIV").getElementsByClassName("active")[0].id
    labelName = document.getElementById("myDIV").getElementsByClassName("active")[0].textContent
    htmltxt = txtWrapper(selectedText,col);
    document.execCommand("insertHTML",false,htmltxt);

  // Set design mode to off
  document.designMode = "off";
  selectionTask = {"labelName":labelName,
  "text":selectedText,"color":col}
  selections.push(selectionTask)
  labelBasket();
}
    function labelBasket(){
    annotatedTxtbox = document.getElementById("labelledAnnotations");
    fullLabel = '';
    for (let i = 0; i < selections.length; i++) {
        contHtml = '<li class="list-group-item"'+'style="color:'+selections[i].color+'">'+selections[i].text+'<button><i class="fa-regular fa-trash-can"></i></button></li>';
        fullLabel = fullLabel + contHtml;
        console.log(selections[i].labelName,selections[i].text);

}
    annotatedTxtbox.innerHTML = fullLabel;
};

function poster(){
$.ajax({
    type: "POST",
    url: "{{ url_for("textNer") }}",
    contentType: "application/json",
    data: JSON.stringify(selections),
    dataType: "json",
    success: function(response) {
        console.log(response);
    },
    error: function(err) {
        console.log(err);
    }
});}
</script>



  </body>
</html>
