<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>EasyFill | User Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <style>
    .navbarTable {
  width: 100%;
  background-color: #778899;
  overflow: auto;
}

.navbarTable a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbarTable a:hover {
  background-color: #ff4316;
}

.navbarTable button{
background:transparent;
border:none;
float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;}

.navbarTable button:hover {
  background-color: #ff4316;
}

@media screen and (max-width: 500px) {
  .navbarTable a {
    float: none;
    display: block;
  }
}

.styled-table tr a{
    color:black;
    background-color: transparent;
  text-decoration: none;}

  .styled-table tr a:hover{
    color:#ff4316;
    background-color: transparent;
  text-decoration: none;}

        .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width:100%;

}
.styled-table thead tr {
    background-color: #555;
    color: white;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #ff4316;
}
.styled-table tbody tr:hover{
    color: #ff4316;
}


  </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand" href="/"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="120" height="70" class="d-inline-block align-text-top">
      </a>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <div class="statuschecker">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/register">Signup</a>
          </li>
            </div>
          <script>
                const loginstatus = '{{ loggedin }}';
                console.log(loginstatus);
                if (loginstatus == "True") {
                const collection = document.getElementsByClassName("statuschecker");
                collection[0].outerHTML = '<li class="nav-item"><a class="nav-link" href="/userHome/{{usrname}}">Your Profile</a></li><li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>';
                }
            </script>
          <li class="nav-item">
            <a class="nav-link" href="/pricing">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Company
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/Contact">About</a></li>
              <li><a class="dropdown-item" href="/Contact">Contact</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Security</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<center>
    <br>
<h1 style="color:#ff4316;font-weight:bold;font-size:4rem;">hello {{user}}</h1>
</center>
<br>
<h3 style="color:#555;font-weight:bold;font-size:2.8rem;">Your Workspaces</h3>
<br>
<div class="row">
  <center>
    <form action="/userHome/{{user}}" method="post">
  <div class="navbarTable">
  <a class="active" href="/newwork"><i class="fa fa-fw fa-plus"></i> New Workspace</a>
  <a onclick="window.location.href='';" style="color:white;"><i class="fa-solid fa-arrows-rotate"></i> Refresh</a>
  <button type="submit" name="deletebutton" onclick="return confirm('Are you sure you want to delete selected items?');" style="color:white;"><i class="fa-solid fa-trash"></i> Delete</button>
</div>

    <span class="input-group-text" id="basic-addon1"><i class="fa fa-fw fa-search" style="font-size:30px;"></i>
    <input style="width:90%; padding:10px 20px;" type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for workspaces.." title="Type in a name"></span>

      <table class="styled-table">
      <thead>
    <tr>
            <th><input type="checkbox" name="selectall"  onchange="selectalll(this);"></th>
            <th>Workspace Name</th>
            <th>Raw Data</th>
            <th>Imputed Data</th>
            <th>File size</th>
            <th>Created At</th>
                <th>Modified At</th>
        </tr>
    </thead>
    <tbody>
    {% for f in createdFiles %}
                <tr>
          <td><input type="checkbox" class="foo" name="{{f.name}}" onchange="selectfew();" value="{{f.name}}"></td>
            <td><a href="/eda/{{f.file}}">{{f.name}}</a></td>
            <td><a href="/eda/{{f.file}}">/eda/{{f.file}}</a></td>
            <td><a href="/eda/{{f.file}}">/eda/{{f.file}}</a></td>
            <td>200mb</td>
            <td>feb26</td>
                <td>feb26</td>
            </tr>
            {% endfor %}
     <tr><h4 style="color:#ff4136;">{{ lenofdata }}</h4></tr>
    </tbody>
    </table>
  <script>
    function selectalll(source){
    allselect = document.getElementsByName("selectall");
    console.log(allselect[0].checked);
    if (allselect[0].checked == false){
        console.log("not selected");
        for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = false;
    }}
    else{
        console.log("is selected");
        checkboxes = document.getElementsByClassName('foo');
        for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
    }
    }
    }


    function searchFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementsByTagName("table");
  tr = document.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
  </form>
</center>
  </div>
  </div>

<br>
<div class="footerBox" style="color:white;width:100%;background-color:#212529;">
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3" style="color:white;">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/Contact" class="nav-link p-0 text-white">About</a></li>
          <li class="nav-item mb-2"><a href="/careers" class="nav-link p-0 text-white">Careers</a></li>
          <li class="nav-item mb-2"><a href="/security" class="nav-link p-0 text-white">Security</a></li>
          <li class="nav-item mb-2"><a href="/legal" class="nav-link p-0 text-white">Legal</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>EasyFill</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/pricing" class="nav-link p-0 text-white">Pricing</a></li>
          <li class="nav-item mb-2"><a href="/faq" class="nav-link p-0 text-white">FAQs</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/blog" class="nav-link p-0 text-white">Blog</a></li>
          <li class="nav-item mb-2"><a href="/customers" class="nav-link p-0 text-white">Customers</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
        <form action='/subscribe' method="post" enctype="multipart/form-data">
            <input name="newsletter1" id="newsletter1" type="text"  placeholder="Email address">
            <input type="submit" class="btn btn-danger" value="Subscribe"></input>
        </form>
          </div>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <a class="navbar-brand" href="/"><img style="padding:0px;" src="/static/images/logo.svg" alt="Logo" width="140" height="70" class="d-inline-block align-text-top">
      </a>
      <p>&copy; 2023 EasyFill, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="/"><i class="fa-brands fa-twitter" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href=""><i class="fa-brands fa-instagram" style="color:white;font-size:40px;"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="https://github.com/Mojo-lab"><i class="fa-brands fa-github" style="color:white;font-size:40px;"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
  </div>
</body>
</html>